<%= hidden_field_tag "clicked", "" %>
<%= hidden_field_tag "index", "" %>
<%= link_to "Page #{params[:page].blank? ? 1 : params[:page]}", "javascript:", :class => "btn btn-success" %>
<%= link_to "Back", "/?id=#{params[:id]}&page=#{params[:page].to_i - 1}", :class => "btn btn-success" unless params[:id].blank? %>
<%= form_for :album, :url => {:controller => :albumes, :action => :create_album, :template_id => @template.id}, :html => {:multipart => true} do |f| %>
    <svg style="background-color: pink" version="1.1" height="450" width="800" id="templates-container" preserveAspectRatio="none">
      <defs>
        <% @shapes.each_with_index do |s, i| %>
            <pattern id="img<%= i + 1 %>" patternUnits="userSpaceOnUse" width="100" height="100">
              <image xlink:href="" x="0" y="0" width="100" height="100" id="bac-image-<%= i + 1 %>"/>
            </pattern>

        <% end %>
      </defs>
      <% @shapes.each_with_index do |s, c| %>
          <<%= s.type %> stroke-width="2" fill="white" stroke="black" width="<%= s.width %>" height="<%= s.height %>"
          r="<%= s.r %>"
          cy="<%= s.y %>" cx="<%= s.x %>" id="<%= s.type %><%= c + 1 %>" x="<%= s.x %>" y="<%= s.y %>" class="ga-svg
          droppable" alt="<%= c + 1 %>"
          onclick="<%= user_signed_in? ? 'open_dialog(this)' : 'open_file(this)' %>"/>
      <% end %>
    </svg>
    <% @shapes.each_with_index do |s, c| %>
        <%= hidden_field_tag "image#{ c + 1}", 0 %>
        <%= file_field_tag "file_opener#{ c + 1}", :class => "file_opener", :style => "display: none" %>
        <%= hidden_field_tag "image_type#{ c + 1}" "" %>
        <%= hidden_field_tag "shape_id#{ c + 1}", s.id %>
        <%= hidden_field_tag "fb_url#{ c + 1}", "" %>
    <% end %>
    <%= hidden_field_tag "shapes_count", @shapes.count %>
    <%= hidden_field_tag "page", params[:page].blank? ? 1 : params[:page] %>

    <%= f.submit "Save and Next", :class => "btn btn-primary" %>
<% end %>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
  <%= render "shared/images_select" %>
</div>
<!-- Modal end -->


<%= render "home/template_js" %>