<%= hidden_field_tag "clicked", "" %>
<%= hidden_field_tag "index", "" %>
<%= hidden_field_tag "selected", "" %>
<span class="badge badge-success"> Page <%= params[:page].blank? ? 1 : params[:page] %> </span>
<%= link_to "Back", "/index?id=#{params[:id]}&page=#{params[:page].to_i - 1}", :class => "btn btn-success" if !params[:id].blank? and params[:page].to_i > 1 %>
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
  <%= render "shared/images_select" %>
</div>
<!-- Modal end -->
<%= link_to "Download", "javascript:", :onclick => "download_svg()" %>
<%= render "home/template_js" %>
<div id="slider-container" style="display: none">
  <label> Rotate </label>

  <div id="slider_rotate" class="ga-slider"></div>
  <label> Scale </label>

  <div id="slider_scale" class="ga-slider"></div>
</div>

<script type="text/javascript">
    function download_svg() {
        svg = $('#ga-svg-cont').html();
//       WORKING svg = '<svg xmlns="http://www.w3.org/2000/svg" version="1.1"  height="475" width="800"><circle stroke-width="2" fill="url(#img1)" stroke="black" width="" height="" r="55" cy="70" cx="730" id="circle1" x="730" y="70" class="ga-svg droppable" alt="1"></circle></svg>'
        canvg('canvas', svg);
        canvas = document.getElementById("canvas");
        img_PNG = Canvas2Image.saveAsPNG(canvas);

    }

    $(function () {
        $("#slider_rotate").slider({
            value: 0,
            min: 0,
            max: 720,
            step: 5,
            slide: function (event, ui) {
                rotate_pos = $("#slider_rotate").slider("value");
                scale_pos = $("#slider_scale").slider("value");
                index = $('#selected').val();
                $('#image' + index).val(rotate_pos);
//                $('#Svg_circle1').attr('transform', "rotate(" + rotate_pos + " 50 50) scale(" + scale_pos + ")");
                if (index == 1) {
                    $('#img_' + index).attr('transform', "rotate(" + rotate_pos + " 732 85) scale(" + scale_pos + ")");
                }
                else if (index == 2) {
                    $('#img_' + index).attr('transform', "rotate(" + rotate_pos + " 400 200) scale(" + scale_pos + ")");
                }
                else if (index == 3) {
                    $('#img_' + index).attr('transform', "rotate(" + rotate_pos + " 60 100) scale(" + scale_pos + ")");
                }
            },
            stop: function (event, ui) {
                rotate_slide();
            }
        });

        function rotate_slide() {
            index = $('#selected').val();
            transform = $('#img_' + index).attr('transform');
            scale = transform.split('scale(')[1].replace(')', '');
            rotate = transform.split(' ')[0].replace('rotate', '').replace('(', '').replace(')', '').split(' ')[0];
            $('#image' + index).val(rotate);
            $('#scale' + index).val(scale);
        }

        $("#slider_scale").slider({
            value: .9,
            min: .1,
            max: .9,
            step: .01,
            slide: function (event, ui) {
                rotate_pos = $("#slider_rotate").slider("value");
                scale_pos = $("#slider_scale").slider("value");
                index = $('#selected').val();
                $('#scale' + index).val(scale_pos);
                if (index == 1) {
                    $('#img_' + index).attr('transform', "rotate(" + rotate_pos + " 732 85) scale(" + scale_pos + ")");
                }
                else if (index == 2) {
                    $('#img_' + index).attr('transform', "rotate(" + rotate_pos + " 400 200) scale(" + scale_pos + ")");
                }
                else if (index == 3) {
                    $('#img_' + index).attr('transform', "rotate(" + rotate_pos + " 60 100) scale(" + scale_pos + ")");
                }
            },
            stop: function (event, ui) {
                rotate_slide();
            }
        });

    });
</script>


<%= form_for :album, :url => "albumes/#{album_exist(@album, @album_details) == true ? 'create_album' : 'update_album'}?template_id=#{@template.id}&new_album=#{@album.new_record? ? nil : @album.id}", :html => {:multipart => true} do |f| %>
    <canvas id="canvas" style="display:none;"></canvas>
    <div id="ga-svg-cont" class="ga-svg-cont">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" onclick="open_dialog_svg(this)" style="background: <%= album_exist(@album, @album_details) == false ? "url('#{@svg_background.blank? ? nil : @svg_background.photo.url}') no-repeat" : '' %>" height="475" width="800" id="templates-container">
        <% if album_exist(@album, @album_details) %>
            <% @shapes.each_with_index do |s, i| %>
                <g mask="url('#SvgMask_<%= i + 1 %>')">
                  <image transform="<%= i == 0 ? 'rotate(1 732 85)' : i== 1 ? 'rotate(1 400 200)' : 'rotate(1 60 100)' %> " style="left: <%= s.x %>px; ;position: relative; top: <%= s.y %>px" y="<%= s.y %>" x="<%= s.x %>" cy="<%= s.y %>" cx="<%= s.x %>" class="drag" id="SvgImage_<%= i + 1 %>" xlink:href="" width="<%= s.type == 'circle' ? 160 : 300 %>" height="<%= s.type == 'circle' ? 160 : 300 %>"/>
                </g>
            <% end %>
        <% else %>
            <% @album_details.each_with_index do |s, i| %>
                <image transform='scale(<%= s.scale == 0.9 ? nil : s.scale %>) <%= i == 0 ? "rotate(#{s.rotate} 732 85)" : i== 1 ? "rotate(#{s.rotate} 400 200)" : "rotate(#{s.rotate} 60 100)" %>' style="left: <%= s.left %>px; ;position: relative; top: <%= s.top %>px" y="<%= s.top %>" x="<%= s.left %>" cy="<%= s.shape.y %>" cx="<%= s.shape.x %>" class="drag" id="SvgImage_<%= i + 1 %>" xlink:href="<%= s.photo.url %>" width="<%= s.shape.type == 'circle' ? 160 : 300 %>" height="<%= s.shape.type == 'circle' ? 160 : 300 %>" mask="url('#SvgMask_<%= i + 1 %>')" alt='<%= i %><%= s.id %>'/>
            <% end %>
        <% end %>
        <% if album_exist(@album, @album_details) %>
            <% @shapes.each_with_index do |s, c| %>
                <defs id="SvgDefs_<%= c + 1 %>">
                  <mask id="SvgMask_<%= c + 1 %>">
                    <<%= s.type %> stroke-width="2" fill="#ffffff" stroke="white"
                    width="<%= s.width %>"
                    height="<%= s.height %>"
                    r="<%= s.r %>" id="Svg_<%= s.type %><%= c + 1 %>"
                    cy="<%= s.y %>" cx="<%= s.x %>"
                    x="<%= s.x %>"
                    y="<%= s.y %>"
                    class="ga-svg ga-svg-<%= c + 1 %>" alt="<%= c + 1 %>"
                    onclick="<%= user_signed_in? ? 'open_dialog(this)' : 'open_file(this)' %>"/>
                  </mask>
                </defs>

                <<%= s.type %> stroke-width="2" fill="white" stroke="white" width="<%= s.width %>"
                height="<%= s.height %>"
                r="<%= s.r %>"
                cy="<%= s.y %>" cx="<%= s.x %>" id="<%= s.type %><%= c + 1 %>" x="<%= s.x %>" y="<%= s.y %>"
                class="ga-svg ga-svg-<%= c + 1 %>" alt="<%= c + 1 %>"
                onclick="<%= user_signed_in? ? 'open_dialog(this)' : 'open_file(this)' %>"/>

            <% end %>
        <% else %>
            <% @album_details.each_with_index do |s, c| %>
                <defs id="SvgDefs_<%= c + 1 %>">
                  <mask id="SvgMask_<%= c + 1 %>">
                    <<%= s.shape.type %> stroke-width="2" fill="#ffffff" stroke="white"
                    width="<%= s.shape.width %>"
                    height="<%= s.shape.height %>"
                    r="<%= s.shape.r %>" id="<%= s.shape.type %><%= c + 1 %>"
                    cy="<%= s.shape.y %>" cx="<%= s.shape.x %>"
                    x="<%= s.shape.x %>"
                    y="<%= s.shape.y %>"
                    class="ga-svg ga-svg-<%= c + 1 %>" alt="<%= c + 1 %>"
                    onclick="<%= user_signed_in? ? 'open_dialog(this)' : 'open_file(this)' %>"/>
                  </mask>
                </defs>
            <% end %>
        <% end %>
      </svg>
    </div>
    <% if album_exist(@album, @album_details) %>
        <% @shapes.each_with_index do |s, c| %>
            <%= hidden_field_tag "image#{ c + 1}", 0 %>
            <%= hidden_field_tag "scale#{ c + 1}", 0.9 %>
            <%= file_field_tag "file_opener#{ c + 1}", :class => "file_opener", :style => "display: none" %>
            <%= hidden_field_tag "image_type#{ c + 1}" "" %>
            <%= hidden_field_tag "shape_id#{ c + 1}", s.id %>
            <%= hidden_field_tag "fb_url#{ c + 1}", "" %>
            <%= hidden_field_tag "left#{ c + 1}", s.x %>
            <%= hidden_field_tag "top#{ c + 1}", s.y %>
        <% end %>
        <%= hidden_field_tag "shapes_count", @shapes.count %>

    <% else %>
        <% @album_details.each_with_index do |s, c| %>
            <%= hidden_field_tag "image#{ c + 1}", s.rotate %>
            <%= hidden_field_tag "scale#{ c + 1}", s.scale %>
            <%= file_field_tag "file_opener#{ c + 1}", :class => "file_opener", :style => "display: none" %>
            <%= hidden_field_tag "image_type#{ c + 1}", s.image_type %>
            <%= hidden_field_tag "shape_id#{ c + 1}", s.shape_id %>
            <%= hidden_field_tag "fb_url#{ c + 1}", "" %>
            <%= hidden_field_tag "left#{ c + 1}", s.left %>
            <%= hidden_field_tag "top#{ c + 1}", s.top %>
        <% end %>
        <%= hidden_field_tag "shapes_count", @album_details.count %>
    <% end %>
    <%= hidden_field_tag "page", params[:page].blank? ? 1 : params[:page] %>
    <%= file_field_tag "file_openersvg-index", :class => "file_opener", :style => "display: none" %>
    <%= hidden_field_tag "svg_fb_url", "" %>
    <%= hidden_field_tag "svg_image_type", "" %>

    <%= f.submit "#{album_exist(@album, @album_details) == true ? 'Save & Next' : 'Update & Next' }", :class => "btn btn-primary" %>
<% end %>
<script>
    $(document).ready(function () {
        $('.drag')
                .draggable({stop: function (evt, ui) {
                    obj_e = $(this).attr('id');
                    index = obj_e.split('_')[1];
                    left_e = $(this).css('left').replace('px', '');
                    top_e = $(this).css('top').replace('px', '');
                    $('#left' + index).val(left_e);
                    $('#top' + index).val(top_e);
                }})
                .bind('mousedown', function (event, ui) {
                    // bring target to front
                    $(event.target.parentElement).append(event.target);

                })
                .bind('drag', function (event, ui) {
                    // update coordinates manually, since top/left style props don't work on SVG
//                    event.target.setAttribute("cx", ui.position.left);
//                    event.target.setAttribute("cy", ui.position.top);
                    event.target.setAttribute("x", ui.position.left);
                    event.target.setAttribute("y", ui.position.top);
//
                });

//        $('.drag')
//                .draggable()
//                .bind('mousedown', function (e, ui) {
//                    var shape = this.id;
//                    this.setAttribute("cx", e.pageX);
//                    this.setAttribute("cy", e.pageY);
//                });

    });


</script>
