<%= hidden_field_tag "clicked", "" %>
<%= hidden_field_tag "index", "" %>
<span class="badge badge-success"> Page <%= params[:page].blank? ? 1 : params[:page] %> </span>
<%= link_to "Back", "/index?id=#{params[:id]}&page=#{params[:page].to_i - 1}", :class => "btn btn-success" if !params[:id].blank? and params[:page].to_i > 1 %>
<%= form_for :album, :url => "albumes/#{album_exist(@album, @album_details) == true ? 'create_album' : 'update_album'}?template_id=#{@template.id}&new_album=#{@album.new_record? ? nil : @album.id}", :html => {:multipart => true} do |f| %>
    <canvas id="canvas" style="display:none;"></canvas>
    <div id="ga-svg-cont" class="ga-svg-cont">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" onclick="open_dialog_svg(this)" style="background: <%= album_exist(@album, @album_details) == false ? "url('#{@svg_background.photo.url}') no-repeat" : '' %>" version="1.1" height="475" width="800" id="templates-container">
        <% if album_exist(@album, @album_details) %>
            <defs>
              <% @shapes.each_with_index do |s, i| %>
                  <pattern id="img<%= i + 1 %>" width="33" height="18">
                    <image xlink:href="" x="0" y="0" width="800" height="500" id="bac-image-<%= i + 1 %>"/>
                  </pattern>
              <% end %>
            </defs>
        <% else %>
            <defs>
              <% @album_details.each_with_index do |s, i| %>
                  <pattern id="img<%= i + 1 %>" width="33" height="18">
                    <image transform="rotate(<%= s.rotate %> 50 50)" xlink:href="<%= s.photo.url(:small) %>" x="0" y="0" width="800" height="500" id="bac-image-<%= i + 1 %>"/>
                  </pattern>
              <% end %>
            </defs>
        <% end %>
        <% if album_exist(@album, @album_details) %>
            <% @shapes.each_with_index do |s, c| %>
                <<%= s.type %> stroke-width="2" fill="white" stroke="white" width="<%= s.width %>"
                height="<%= s.height %>"
                r="<%= s.r %>"
                cy="<%= s.y %>" cx="<%= s.x %>" id="<%= s.type %><%= c + 1 %>" x="<%= s.x %>" y="<%= s.y %>"
                class="ga-svg droppable" alt="<%= c + 1 %>"
                onclick="<%= user_signed_in? ? 'open_dialog(this)' : 'open_file(this)' %>"/>
            <% end %>
        <% else %>
            <% @album_details.each_with_index do |s, c| %>
                <<%= s.shape.type %> stroke-width="2" fill="url(#img<%= c + 1 %>)" stroke="white"
                width="<%= s.shape.width %>"
                height="<%= s.shape.height %>"
                r="<%= s.shape.r %>"
                cy="<%= s.shape.y %>" cx="<%= s.shape.x %>" id="<%= s.shape.type %><%= c + 1 %>" x="<%= s.shape.x %>"
                y="<%= s.shape.y %>"
                class="ga-svg droppable" alt="<%= c + 1 %>"
                onclick="<%= user_signed_in? ? 'open_dialog(this)' : 'open_file(this)' %>"/>
            <% end %>
        <% end %>
      </svg>
    </div>
    <% if album_exist(@album, @album_details) %>
        <% @shapes.each_with_index do |s, c| %>
            <%= hidden_field_tag "image#{ c + 1}", 0 %>
            <%= file_field_tag "file_opener#{ c + 1}", :class => "file_opener", :style => "display: none" %>
            <%= hidden_field_tag "image_type#{ c + 1}" "" %>
            <%= hidden_field_tag "shape_id#{ c + 1}", s.id %>
            <%= hidden_field_tag "fb_url#{ c + 1}", "" %>
        <% end %>
        <%= hidden_field_tag "shapes_count", @shapes.count %>

    <% else %>
        <% @album_details.each_with_index do |s, c| %>
            <%= hidden_field_tag "image#{ c + 1}", s.rotate %>
            <%= file_field_tag "file_opener#{ c + 1}", :class => "file_opener", :style => "display: none" %>
            <%= hidden_field_tag "image_type#{ c + 1}", s.image_type %>
            <%= hidden_field_tag "shape_id#{ c + 1}", s.shape_id %>
            <%= hidden_field_tag "fb_url#{ c + 1}", "" %>
        <% end %>
        <%= hidden_field_tag "shapes_count", @album_details.count %>
    <% end %>
    <%= hidden_field_tag "page", params[:page].blank? ? 1 : params[:page] %>
    <%= file_field_tag "file_openersvg-index", :class => "file_opener", :style => "display: none" %>
    <%= hidden_field_tag "svg_fb_url", "" %>
    <%= hidden_field_tag "svg_image_type", "" %>

    <%= f.submit "#{album_exist(@album, @album_details) == true ? 'Save & Next' : 'Update & Next' }", :class => "btn btn-primary" %>
<% end %>
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
  <%= render "shared/images_select" %>
</div>
<!-- Modal end -->
<%= link_to "Download", "javascript:", :onclick => "download_svg()" %>
<%= render "home/template_js" %>

<script type="text/javascript">

    function download_svg() {
        svg = $('#ga-svg-cont').html();
//       WORKING svg = '<svg xmlns="http://www.w3.org/2000/svg" version="1.1"  height="475" width="800"><circle stroke-width="2" fill="url(#img1)" stroke="black" width="" height="" r="55" cy="70" cx="730" id="circle1" x="730" y="70" class="ga-svg droppable" alt="1"></circle></svg>'
        canvg('canvas', svg);
        canvas = document.getElementById("canvas");
        img_PNG = Canvas2Image.saveAsPNG(canvas);

    }
</script>
