<% @templates.each do |f| %>
    <canvas class="ga-tmpl" id='<%= f.title.downcase %>' width="<%= f.width %>" height="<%= f.height %>" onclick="draw_template('<%= f.id %>', '<%= params[:id] %>', '<%= params[:page] %>')">
      Your browser does not support the HTML5 canvas tag.
    </canvas>
<% end %>
<div id="templ-container">
  <%= render "home/template" if !params[:id].blank? and !@album_details.blank? %>
</div>