<% if user_signed_in? %>
    <div class="hero-unit">
      <h1>Create a New Album</h1>

      <p>Its as simple as that</p>

      <%= form_for :album, :url => "/albumes", :html => {:id => 'ga-create-album'} do |f| %>
          <%= f.label :title %>
          <%= f.text_field :title %>

          <%= f.label :num_of_pages %>
          <%= f.select :num_of_pages, options_for_select([12] + [15] + [20] + [21]) %>


          <div> <%= f.submit :class => "btn btn-success" %></div>

      <% end %>
    </div>
<% else %>
    <%= link_to "Log in with Facebook", "javascript:", :href => '/auth/facebook', :class => "popup btn btn-primary btn-large", :"data-width" => 600, :"data-height" => 400 unless user_signed_in? %>
<% end %>


